<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile - Stackoverflow lite</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>
    <div class="main">
        <!-- sidebar -->
        <div class=" mobi-hide sidebar col-3 navbar-primary full-height">
            <!-- logo -->
            <div>
                <a href="{{url_for('home')}}">
                    <img class="sidebar__logo-backend" src="{{ url_for('static',filename='img/logo.png') }}" alt="logo">
                </a>
            </div>
            <!-- ./logo -->
            <div class="sidebar-items">
                <ul class="sidebar-items__nav nav column">
                    <li class="">
                        <a href="{{url_for('questions',tag='all',page_no=1)}}">
                            <img class="icon" src="{{ url_for('static',filename='img/question-mark.svg') }}"/>
                            <span class="sidebar-items__text">Questions</span>
                        </a>                        
                    </li>
                    <li class="">
                        <a href="{{url_for('tagpage',page_no=1,flag=True)}}">
                            <img class="icon" src="{{ url_for('static',filename='img/price-tag.svg') }}" />
                            <span class="sidebar-items__text">Tags</span>
                        </a>                        
                    </li>
                    <li class="">
                        <a href="{{url_for('searchQuestion')}}">
                          <img class="icon" src="{{ url_for('static',filename='img/loupe.svg') }}"/>
                          <span class="sidebar-items__text">Search for a Question</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{url_for('askQuestion')}}">
                            <img class="icon" src="{{ url_for('static',filename='img/thumbs-up.svg') }}"/>                            
                            <span class="sidebar-items__text">Ask a Question</span>
                        </a>
                    </li>
                    <li class="sidebar-items__nav--active">
                        <a class="active-text" href="{{url_for('profile')}}">
                            <img class="icon" src="{{ url_for('static',filename='img/user.svg') }}" />                            
                            <span class="sidebar-items__text">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ./sidebar -->
        <div class="body-wrapper col-10 ">
            <!-- navbar -->
            <div class="navbar bg-white navbar-primary p-0 navbar-fixed-top" style="height: 58px;">
                <div class="container">
                    <div class="pull-left"></div>
                    <div class="pull-right">
                        <ul class="nav">
                            <li>
                                <a href="{{url_for('logout')}}" class="btn btn-round mt--5 bg-orange">
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ./navbar -->

            <!-- list -->
            <div class="clearfix"></div>
            <div class="main-wrapper">
                <div class="container">

                    <!-- Personal Information -->
                    <div class="col-20">
                        <div class="panel shadow-primary">
                            <div class="panel__heading">
                                <div class="panel__heading__title text-primary">
                                    Profile Information
                                </div>
                            </div>
                            <div class="panel__body m-20">
                                <h2>
                                    Username : {{session['username']}}
                                    <br />
                                    <br />
                                    Email-Id : {{session['email']}}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- ./popular -->

                    <div class="content-wrapper">
                        <div class="flex-wrapper">
                            <!-- statistics widget -->
                            <div class="statistics">
                                <div class="statistics__card shadow-primary bg-dark-blue">
                                    <div class="statistics__card__title pull-left">
                                        <b>#Questions</b>
                                    </div>
                                    <img class="statistics__card__icon pull-right"
                                        src="{{ url_for('static',filename='img/question-mark.svg') }}" />
                                    <div class=""></div>
                                    <div class="statistics__card__value">{{ques_count}}</div>
                                </div>
                            </div>
                            <!-- ./ statistics -->

                            <!-- statistics widget -->
                            <div class="statistics">
                                <div class="statistics__card shadow-primary bg-white">
                                    <div class="statistics__card__title pull-left">
                                        <b>#Answers</b>
                                    </div>
                                    <img class="statistics__card__icon pull-right"
                                        src="{{ url_for('static',filename='img/checklist-on-a-paper-with-a-pencil.svg') }}" />
                                    <div class=""></div>
                                    <div class="statistics__card__value">{{ans_count}}</div>
                                </div>
                            </div>
                            <!-- ./ statistics -->

                            <!-- statistics widget -->
                            <div class="statistics">
                                <div class="statistics__card shadow-primary bg-light-blue">
                                    <div class="statistics__card__title pull-left">
                                        <b>#Votes</b>
                                    </div>
                                    <img class="statistics__card__icon pull-right"
                                        src="{{ url_for('static',filename='img/thumbs-up.svg') }}" />
                                    <div class=""></div>
                                    <div class="statistics__card__value">109</div>
                                </div>
                            </div>
                            <!-- ./ statistics -->
                        </div>
                    </div>
                    <!--./ Your Questions-->
                    <div class="panel bg-white">
                        <div class="panel__heading">
                            <div class="clearfix bb" style="border-bottom-color: transparent;"></div>
                            <div class="mega-text text-primary" style="margin-top: 10px; margin-bottom: 10px">
                                Your Questions
                            </div>
                            <div class="clearfix bb"></div>

                        </div>
                        <div class="panel__body m-20">
                            {% if n==0 %} 
                                You did not post questions...<a href="{{url_for('askQuestion')}}">Try posting one!</a>
                            {% endif %} 
                            {% for id,title,dop in ques %}
                                <div class="question-list-item">
                                    <div class="col-6">
                                        <h2>
                                            <a class="text-primary" href="{{url_for('quespage',id=id)}}"> {{title}} </a>
                                        </h2>
                                        {% for t in tags[loop.index0] %}
                                        <button class="btn btn-badge btn-link" onclick="location.href='{{url_for('questions',tag=t,page_no=1)}}'">{{t}}</button>
                                        {% endfor %}
                                        <h5 class="text-grey">
                                            Asked by
                                            <span class="text-primary">{{users[loop.index0][1]}}</span>
                                            on
                                            <span class="text-primary">{{dop.strftime("%d-%b-%Y %H:%M")}}</span>
                                        </h5>
                                    </div>
                                    <!-- right icons  -->
                                    <div class="col-6">
                                        <h4>&nbsp;</h4>
                                        <table class="text-center stats-box">
                                            <tr>
                                                <td>{{anscnt[loop.index0]}}</td>
                                            </tr>
                                            <tr>
                                                <td>Answers</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img class="icon"
                                                        src="{{ url_for('static',filename='img/paper-plane.svg') }}" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- ./right icons -->
                                </div>
                                <div class="clearfix bb"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--./ Your Questions-->
                </div>
            </div>
            <!-- ./list -->
        </div>

    </div>
</body>
</html>