<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question - Stackoverflow lite</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">  
    <style>
        .alert {
          padding: 15px;
          background-color: #4CAF50;
          color: white;
          border-radius: 50px;
          margin-top: 70px;
        }
        
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        
        .closebtn:hover {
          color: black;
        }
    </style>  
</head>
<body>
    <div class="main">
        <!-- sidebar -->
        <div class="sidebar  mobi-hide col-3 navbar-primary full-height">
            <!-- logo -->
            <div>
                <a href="{{url_for('home')}}">
                    <img class="sidebar__logo-backend" src="{{ url_for('static',filename='img/logo.png') }}" alt="logo">
                </a>
            </div>
            <!-- ./logo -->
            <div class="sidebar-items">
                <ul class="sidebar-items__nav nav column">
                    <li class="sidebar-items__nav--active">
                        <a class="active-text" href="{{url_for('questions',tag='all')}}">
                            <img class="icon" src="{{ url_for('static',filename='img/question-mark.svg') }}"/>
                            <span class="sidebar-items__text">Questions</span>
                        </a>                        
                    </li>
                    <li class="">
                        <a href="{{url_for('tagpage',page_no=1,flag=True)}}">
                            <img class="icon" src="{{ url_for('static',filename='img/price-tag.svg') }}" />
                            <span class="sidebar-items__text">Tags</span>
                        </a>                        
                    </li>
                    <li class="">
                        <a href="{{url_for('askQuestion')}}">
                            <img class="icon" src="{{ url_for('static',filename='img/thumbs-up.svg') }}"/>                            
                            <span class="sidebar-items__text">Ask a Question</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('profile')}}">
                            <img class="icon" src="{{ url_for('static',filename='img/user.svg') }}" />                            
                            <span class="sidebar-items__text">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ./sidebar -->
        <div class="body-wrapper col-10 ">
            <!-- navbar -->
            <div class="navbar bg-white navbar-primary p-0 navbar-fixed-top" style="height: 58px;">
                <div class="container">
                    <div class="pull-left"></div>
                    <div class="pull-right">
                        <ul class="nav">
                            {% if 'id' not in session.keys() %}
                                <li>
                                    <a href="{{url_for('login')}}" class="text-white btn btn-round mt--5 bg-orange">Login</a>
                                </li>
                                <li>
                                    <a href="{{url_for('register')}}" class="text-white btn btn-round mt--5 bg-orange">Sign Up</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{url_for('logout')}}" class="btn btn-round mt--5 bg-orange">Log out</a>                                
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ./navbar -->
            
            <!-- list -->
            <div class="clearfix"></div>
            <div class="main-wrapper">
                <div class="container">
                    {% for msg in get_flashed_messages() %}
                        <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                            {{msg}}
                        </div>
                    {% endfor %}
                    <div class="panel bg-white">
                        <div class="panel__heading bb" >
                            <div class="mega-text text-primary">{{ques[1]}}</div>                   
                        </div>
                        <div class="panel__body m-35">
                            <!-- question -->
                            <div class="question-list-item">
                                <div class="col-10">
                                    <p>
                                        {{ques[2]}}
                                    </p>
                                    <h5 class="text-grey">Asked on <span class="text-primary">{{ques[3]}}</span> by <span class="text-primary">{{uq[1]}}</span></h5>
                                    {% for t in tgs %}
                                        <button class="btn btn-badge btn-link">
                                            {{t}}
                                        </button>
                                    {% endfor %}
                                </div> 
                                <!-- right icons  -->
                                <div class="col-3">
                                    <h4>&nbsp;</h4>
                                    <table class="text-center stats-box">
                                            <tr>
                                                <td>
                                                    {{c}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Answers</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img class="icon" src="{{ url_for('static',filename='img/paper-plane.svg') }}" />
                                                </td>
                                            </tr>
                                        </table>
                                </div>
                                <!-- ./right icons -->
                            </div>
                            <!-- ./question -->
                            <div class="clearfix bb"></div>
                             <!-- Answers -->
                             <div class="question-list-item">
                                    <div class="answer">
                                        <h2 class="text-primary">Answers</h6>
                                        <div class="clearfix bb"></div>                                        
                                        <h5 class="text-grey">Modified 1 min ago <span class="text-primary"> P8ul</span></h5>
                                    </div>
                                </div>
                                <div class="clearfix bb"></div>
                                <!-- answer -->
                                <div class="answer__item">
                                    <div class="answer__item_vote pull-left">
                                        <div class="arrow-up"></div>
                                        <div class="text-center text-bold">7</div>
                                        <div class="arrow-down"></div>
                                    </div>
                                    <!-- answer body -->
                                    <div class="answer__item_body pull-left">
                                        <p>
                                            <p>
                                                1. Getting the right order while printing the MRO of class D but not geting the constructor
                                                call of class C.
                                                Question: why not printing <b>C constructor </b> after <b>A constructor</b>
                                                in the given code below ?
                                            </p>
                                            <pre class="language-markup">
                                                stack.push(2);       // stack is now [2]
                                                stack.push(5);
                                            </pre>
                                        </p>
                                    </div>
                                    <!-- ./body -->
                                </div>                               
                                <!-- ./answer -->
                                <div class="clearfix bb"></div>
                                <!-- post answer -->
                                <div class="mega-text text-primary">Your Answer</div>
                                <textarea class="comment-box" placeholder="Answer here..."></textarea>
                                <button class="btn bg-primary btn-round pull-right">Add answer</button>
                                <!-- ./post answer -->
                        </div>
                    </div>
               </div>
            </div>
            <!-- ./list -->
        </div>

    </div>
</body>
</html>