<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Stackoverflow lite - UI</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="main header-bg">
      <div class="container">
        <div class="col-4">&nbsp;</div>
        <div class="card card-signup col-4">
          <form class="form" action="{{url_for('login')}}" method="POST">
            <div class="header hatch header-text header-primary">SIGN UP</div>
            <div class="form-container mt-20 p-15">
              <div class="form-group">
                <input
                  class="stretchRight input-control"
                  type="text"
                  placeholder="USERNAME"
                  name="username"
                  required="true"
                />
              </div>
              <div class="form-group">
                <input
                  class="stretchRight input-control"
                  type="email"
                  placeholder="EMAIL"
                  name="email"
                  required="true"
                />
              </div>
              <div class="form-group">
                <input
                  class="stretchRight input-control"
                  type="password"
                  placeholder="PASSWORD"
                  name="password"
                  required="true"
                />
              </div>
              <div
                class="form-group"
                style="margin-left: 30px; margin-right: 30px"
              >
                <button
                  class="floating btn btn-primary bg-orange p-15 btn-block"
                >
                  SignUp
                </button>
              </div>
              <div class="form-">
                <a href="{{url_for('home')}}"> Back Home </a>
                <br />
                <a href="{{url_for('login')}}"> Already have an account? </a>
              </div>
            </div>
          </form>
        </div>
        <div class="col-4">&nbsp;</div>
      </div>
    </div>
  </body>
</html>
